{% extends 'base.html' %}
{% load num_range %}
{% block content %}
{% if location_list %}
<div class="button-group">
  <a href="/locations/new" class="btn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Location</a>
</div>
<div class="container">
  <table class="table">
    <thead><tr>
      <th>Action</th>
      <th>Name</th>
      <th>Lat</th>
      <th>Long</th>
    </tr></thead>
    <tbody>
      {% for location in location_list %}
      <tr>
        <th class="content-main col-md-1">
          <div class="btn-group">
            <a  onclick="return validate()" href="{% url 'delete_location' location.id %}" class="btn"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> </a><a href="{% url 'location_detail' location.id %}" class="btn"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a>
          </div>
        </th>
        <th class="content-main col-md-6">{{ location.name }}</th>
        <th class="content-main col-md-3">{{ location.latitude }}</th>
        <th class="content-main col-md-2">{{ location.longitude }}</th>
      </tr>
      {% endfor %}
    </tbody>
    {% endif %}
  </table>
</div>
{% endblock %}

