{% extends 'base.html' %}
{% block content %}
    <script>
      function initMap() {
          var spot1 = {lat: 44.798819, lng:  -69.889085};
          var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 6,
              center: spot1
              });
        {% for l in location_list %}
          var spot = new google.maps.LatLng({{ l.latitude }}, {{ l.longitude }});
          var marker = new google.maps.Marker({
            position: spot,
            title: '{{ l.name }}',
            map: map
            });
        {% endfor %}
      }
    </script>
    <div id="map"></div>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_KEY}}&callback=initMap">
    </script>
{% endblock %}
