{% extends 'trips/base.html' %}
{% load num_range %}
{% block content %}
{% if trip_list %}
<script>
  
  function validate() {
      var valid = confirm('Are you sure you want to delete this trip?');
      if (valid) {
          return true;
      }
      else {
          return false;
      }
  }
</script>
<div class="button-group">
  <a href="/trips/new" class="btn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Trip</a>
</div>
<div class="container">
  <table class="table">
    <thead><tr>
      <th>Action</th>
      <th>Date</th>
      <th>Description</th>
      <th>Rating</th>
    </tr></thead>
    <tbody>
      {% for trip in trip_list %}
      <tr>
        <th class="content-main col-md-1">
          <div class="btn-group">
            <a  onclick="return validate()" href="{% url 'delete_trip' trip.id %}" class="btn"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> </a><a href="{% url 'trip_detail' trip.id %}" class="btn"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a>
          </div>
        </th>
        {% num_range trip.score as star_range %}
        <th class="content-main col-md-3">{{trip.trip_date|date:"D d M Y"}}</th>
        <th class="content-main col-md-6">{{ trip.description }}</th>
        <th class="content-main col-md-2">{% for star in star_range %}<span class="glyphicon glyphicon-star"></span>{% endfor %}</th>
      </tr>
      {% endfor %}
    </tbody>
    {% endif %}
  </table>
</div>
{% endblock %}

